html, body {
    height: 100%;
    width: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#content {
    flex: 1 0 auto;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    margin: 100px auto;
    text-align: center;
}
.form-signin input {
    margin-bottom: 10px;
}

.br-tlr {
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}
.br-blr {
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.photo {
    width: 200px;
    height: 200px;
}
.photo img {
    width: 100%;
    height: 100%;
}

/* Profile */
.top-profile {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.top-profile div {
    transition: all .3s;
}
.photo-settings {
    background-color: #fff;
    border: 1px solid var(--bs-gray-400);
    box-shadow: 5px 5px 5px var(--bs-gray-400);
    width: 290px;
    padding: 20px;
}
.photo-settings:hover {
    box-shadow: none;
}
.photo-settings .image {
    width: 250px;
    height: 250px;
}
.photo-settings .image img {
    width: 100%;
    height: 100%;
}
.change-password-btn, .change-photo-btn {
    width: 250px;
    margin-top: 20px;
}
.change-password-btn button, .change-photo-btn button {
    width: 100%;
}
.info-settings {
    width: calc(100% - 270px - 40px);
    background-color: #fff;
    border: 1px solid var(--bs-gray-400);
    box-shadow: 5px 5px 5px var(--bs-gray-400);
    padding: 20px;
}
.info-settings:hover {
    box-shadow: none;
}
.name-bar {
    width: 100%;
    background-color: var(--bs-primary);
    padding: 5px 20px;
    font-size: 1.5rem;
}
.birthdate {
    margin: 10px 20px;
    font-size: 1.2rem;
}
.universities {
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
}
.priority {
    width: 49.5%;
}

@media (max-width: 992px) {
    .top-profile {
        flex-direction: column;
    }
    .photo-settings {
        width: 100%;
    }
    .photo-settings-all {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info-settings {
        width: 100%;
        margin-top: 20px;
    }
    .universities {
        flex-direction: column;
        justify-content: center;
    }
    .universities .priority {
        width: 100%!important;
    }
}

.about-info {
    padding: 0 20px;
    margin-bottom: 20px;
}
.about-info .about {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid var(--bs-gray-400);
    box-shadow: 5px 5px 5px var(--bs-gray-400);
    transition: all .3s;
}
.about:hover {
    box-shadow: none;
}
.under-text {
    display: flex;
    justify-content: space-between;
}
.about #telegram_social {
    margin-right: 20px;
}
@media screen and (max-width: 768px) {
    .under-text {
        flex-direction: column;
    }
    .save-btn {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .save-btn button {
        width: 50%;
    }
}


.discussion {
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: #fff;
    border: 1px solid var(--bs-gray-400);
    box-shadow: 5px 5px 5px var(--bs-gray-400);
    transition: all .3s;
}
.discussion:hover {
    box-shadow: none;
}

.friends-info {
    padding: 0 20px;
    margin-bottom: 20px;
}
.friends {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid var(--bs-gray-400);
    box-shadow: 5px 5px 5px var(--bs-gray-400);
    transition: all .3s;
}
.friends:hover {
    box-shadow: none;
}
.friend {
    color: black;
    text-decoration: none;
    max-width: 170px;
    padding: 10px;
    transition: .4s all;
}
.friend:hover {
    cursor: pointer;
    color: white;
    background-color: var(--bs-primary);
    border-radius: 10px;
}
.f-photo {
    width: 150px;
    height: 150px;
}
.f-photo img {
    width: 100%;
    height: 100%;
}
.f-name {
    text-align: center;
}

.f-info {
    display: flex;
    justify-content: space-between;
}

.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 993px) {
    .table-phone {
        display: block;
    }
    .table-pc {
        display: none;
    }
    .f-info {
        flex-direction: column;
    }
    .f-info button {
        margin-top: 10px;
    }
}
@media screen and (min-width: 994px) {
    .table-phone {
        display: none!important;
    }
    .table-pc {
        display: table;
    }
}
/*.accordion-button-you {
    background-color: rgba(0, 0, 0, 0.1);
}*/

@media screen and (max-width: 768px) {
    .sort {
        flex-direction: column;
    }
    .sort h4 {
        margin-right: 0!important;
        margin-bottom: 10px!important;
    }
}